/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #f2f2f2;
}

