/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: rgb(233, 233, 233);
}
html {
    font-family: sans-serif;
    overflow-x: hidden;
}
*,*::before,*::after {
    box-sizing: border-box;
}