:root {
  font-family: sans-serif;
}
body {
  margin: 0;
}
/*
cabezaera estilos
*/
header {
  width: 100%;
  min-height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #262626;
  color: #f2f2f2;
  & h2 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
  }
  & nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 2rem;
    & a, details {
      font-size: 1.2rem;
      display: inline-block;
      width: 100%;
      padding: 0.5rem 0;
    }
    & li {
      width: 6rem;
      text-align: center;
      list-style: none;
    }
    & a {
      text-decoration: none;
      color: #f2f2f2;
      &:hover {
        text-decoration: underline;
      }
    }
    & details {
      position: relative;
      & div {
        position: absolute;
        top: 2.5rem;
        padding: 1rem;
        border-radius: 10px;
        border: 2px solid #f2f2f2;
        background-color: #262626;
      }
    }
  }
}

/*
BOTONES
*/

.btn {
  padding: 0.8rem 1rem;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: filter 0.5s ease;
  &:hover {
    filter: brightness(80%);
  }
}

/*ESTILOS DEPENDIENDO DE SU FUNCION*/
.success {
  background-color: green;
  color: white;
}
.danger {
  background-color: darkred;
  color: white;
}
.info {
  background-color: darkturquoise;
  color: white;
}
.alert {
  background-color: gold;
  color: black;
}

/*
FORMULARIO GENERAL
*/

.group-btn {
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.orden-datos-vendedor, .table-prod-data {
  max-width: 30rem;
  & .group-data {
    & section {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      & h2 {
        text-align: center;
      }
    }
  }
}
.table-prod-data {
  max-width: 40rem;
  & article {
    width: 100%;
  }
}
.main-input {
  display: flex;
  flex-direction: column;
  margin: 0.2rem 0;
}
.input {
  margin: 0.3rem 0;
  padding: 0.8rem;
}
.group-input {
  display: flex;
  align-items: stretch;
  & .input {
    width: 100%;
  }
  & .btn-group {
    padding: 0 1rem;
    margin: 0.3rem 0;
    border: 1px solid rgba(118, 118, 118, 0.3);
    background-color: darkturquoise;
    cursor: pointer;
    border-left: 0;
    &:disabled {
      background-color: #00000010;
      cursor: default;
    }
  }
}

.dividir {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/*
DISEÑO MAIN DE INDEX.HTML
*/

.main-sistema form {
  max-width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 4rem;
}

/*SECCION DE TABLAS*/
.section-table {
  width: 100%;
  max-height: 19rem;
  overflow: auto;
}
.table-products {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
  & thead {
    background-color: #262626;
    color: #f2f2f2;
  }
  & th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  & th, td {
    padding: 15px;
    text-align: left;
  }
}

/*
DISEÑO GESTION DE PRODUCTOS
*/

.section-table-products {
  width: 100%;
  max-height: 31rem;
  overflow-y: auto;
  overflow-x: hidden;
  & tr, td {
    cursor: pointer;
  }
  & tr:hover {
    background-color: #26262650;

  }
}
/*
Estilo para borrar o cancelar una lista de producto
*/
#removeProdVenta:disabled {
  pointer-events: none;
  opacity: 0.5;
}
#productos-factura.isRemove tr {
  cursor: pointer;
  transition: all 0.5s ease;
}
#productos-factura.isRemove tr:hover {
  background-color: rgb(168, 7, 7);
  color: white;
}