<main class="main-register">
  <section>
    <form method="post" class="form-main">
      <article>
        <h1>Registrate</h1>
        <div class="line"></div>
      </article>
      <article>
        <label for="name">Nombre</label>
        <input type="text" name="nombre" id="nombre">
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido">
        <label for="correo">Correo</label>
        <input type="email" id="correo" name="correo" required>
        <label for="contra">Contraseña</label>
        <input type="password" id="contra" name="contra" required>
        <input type="submit" value="Login">
      </article>
    </form>
  </section>
</main>
