<main class="main-register">
  <section >
    <form class="form-main" [formGroup]="formGroupRegister">
      <article>
        <h1>Registrate</h1>
        <div class="line"></div>
      </article>
      <article >
        <label for="name">Nombre</label>
        <input type="text" name="nombre" id="nombre" required formControlName="name">
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" required formControlName="lastname">
        <label for="correo">Correo</label>
        <input type="email" id="correo" name="correo" required formControlName="email">
        <label for="contra">Contraseña</label>
        <input type="password" id="contra" name="contra" required formControlName="password">
        <input type="submit" value="Registrarse" (click)="clickRegist()">
      </article>
    </form>
  </section>
  <!-- mostrar por el DOM si se registro -->
  @switch (IsRegist) {
    @case ("Register") {
      <section class="section-register">
        <button (click)="btnClose()">X</button>
        <p>Registado correctamente</p>
      </section>
    }
    @case ("errorRegister") {
      <section class="section-noregister">
        <button (click)="btnClose()">X</button>
        <p>No se pudo registrar</p>
      </section>
    }
  }
</main>
