/* *
* SECCION DEL TITULO
* */
.section_title {
  width: 100%;
  height: 18rem;
  padding: 1rem;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img/nosotros.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: center;
  transition: all 0.5s ease;
  & h1 {
    color: var(--color-secondary);
    font-size: var(--title-home);
    padding-left: 5rem;
    animation: MoveTop 1s ease;
  }
}
@media screen and (max-width: 600px) {
  .section_title {
    height: 12rem;
    justify-content: center;
    & h1 {
      padding: 0;
      text-align: center;
    }
  }
}
/* *
* SECCION DEL NOSOTROS
* */
.section_nosotros {
  width: 100%;
  padding: 4rem 1rem;
  & p {
    max-width: 70rem;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: var(--color-primary);
    font-size: var(--min-text);
    letter-spacing: 1px;
    animation: MoveTop 2s ease;
  }
}

/* *
* SECCION DEL HISTORIA
* */

.section_historia {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  & .historia_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    & img {
      max-width: 30rem;
      width: 100%;
    }
    & p {
      margin: 0;
      width: 30rem;
      padding: 1rem 1rem 1rem 0;
      font-size: var(--min-text);
      letter-spacing: 1px;
      line-height: 1.4rem;
      color: var(--color-primary);
      animation: MoveTop 2s ease;
    }
  }
}

@media screen and (max-width: 870px) {
  .section_historia .historia_content {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem 0;
    gap: 0;
    & img {
      padding: 1rem;
    }
    & p {
      line-height: normal;
      text-align: center;
      color: var(--color-primary);
    }
  }
}


/* *
* SECCION DEL COMPROMISO Y SECRETOS
* */

.section_info {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  & p {
    padding: 2rem 0;
    margin: 0;
    font-size: var(--min-text);
    color: var(--color-primary);
    letter-spacing: 1px;
    line-height: 1.4rem;
    animation: MoveTop 2s ease;
  }
}

@media screen and (max-width: 700px) {
  .section_info p {
    text-align: center;
    padding: 1rem;
  }
}

/* *
* SECCION DEL BANNER
* */

.section_banner {
  width: 100%;
  min-height: 30rem;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/img/nosotrosultimo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h2 {
    color: var(--color-secondary);
    font-size: var(--title);
    text-align: center;
  }
  & p {
    max-width: 70rem;
    text-align: center;
    color: var(--color-secondary);
    padding: 2rem 1rem;
    margin: 0;
    font-size: var(--min-text);
    letter-spacing: 1px;
    line-height: 1.4rem;
  }
}