.menu-nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 2rem;
    background-color: white;
    & li {
        color: rgb(0 51 108);
        padding: 1rem 1rem;
        font-weight: 500;
        font-size: 15px;
        transition: all 0.4s ease;
        cursor: pointer;
        text-transform: uppercase;
        &:hover {
            background-color: #00000050;
            color: rgb(148,112,58);
        }
    }
}