<main class="main-login">
  <section>
    <form method="post" class="form-main">
      <article>
        <h1>Login</h1>
        <div class="line"></div>
      </article>
      <article>
        <label for="correo">Correo</label>
        <input type="email" id="correo" name="correo" required>
        <label for="contra">Contraseña</label>
        <input type="password" id="contra" name="contra" required>
        <a href="#">Olvido la contraseña?</a>
        <input type="submit" value="Login">
      </article>
    </form>
  </section>
</main>
