
<!-- <app-login/> -->
<section class="main">
  <h2>Este es el inicio</h2>
  <article class="section">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste fugiat rem consectetur pariatur voluptates ex, iusto minima dicta esse. Architecto possimus odit cumque, deserunt quos dicta perferendis porro! Accusamus, id.
    Unde, corrupti ut. Corporis, laboriosam culpa eos voluptate dolore voluptas? Quis aliquam ipsum blanditiis suscipit nobis ratione, harum eum in voluptatum unde voluptas deserunt incidunt, amet quasi. Aliquam, odio alias!
    Deserunt repudiandae optio itaque consequatur deleniti voluptates enim non numquam expedita distinctio quia quidem sint, accusamus a pariatur vitae libero aliquid iste quam quo. Labore quos amet vero nostrum nemo!
    Ad ipsam vitae atque cumque placeat numquam aperiam magnam ex, praesentium culpa, illo provident nostrum quasi qui? Tenetur, blanditiis inventore rerum expedita voluptatibus aut tempore, doloribus impedit debitis dolorum eveniet.
  </article>
</section>