h2 {
    color: #1E336F;
    font-weight: 400;
    font-size: 27px;
    letter-spacing: 0.04em;
    margin: 6rem 0 2rem 0;
}
section {
    text-align: center;
    & article {
        max-width: 70rem;
        margin: 0 auto;
        & section {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            & img {
                width: 15rem;
                transition: all 0.4s ease;
                &:hover {
                    opacity: 0.5;
                    transform: scale(1.1);
                }
            }
        }
    }

    button {
        margin: 3rem 0;
        padding: 0.8rem 2rem;
    }
}