<article class="w-full min-h-[50vh]">
  <section class="max-w-[50rem] mx-auto p-3">
      <h2 class="text-center text-3xl font-bold uppercase break-words text-white">Agregar Personas</h2>
  </section>
  <form class="w-[45rem] mx-auto p-4 px-20 shadow-2xl shadow-slate-800 bg-slate-800 rounded-lg" [formGroup]="addForm">
      <div class="w-full my-5 text-white">
          <label for="name" class="uppercase font-bold text-1xl block py-2">Nombres:</label>
          <input type="text" class="w-full py-2 border-b-4 border-b-[#00c4cc] my-1 bg-[#ffffff13]" formControlName="name">
      </div>
      <div class="w-full my-5 text-white">
          <label for="apellidos" class="uppercase font-bold text-1xl block py-2">Apellidos:</label>
          <input type="text" class="w-full py-2 border-b-4 border-b-[#00c4cc] my-1 bg-[#ffffff13]" formControlName="apellidos">
      </div>
      <div class="w-full flex justify-center">
          <button (click)="guardar()" class="mx-auto w-[80%] my-2 border-2 border-slate-800 p-2 rounded-lg transition-all bg-[linear-gradient(90deg,_#00c4cc,_#6420ff,_#7d2ae7)] text-white hover:opacity-80">Guardar</button>
      </div>
  </form>
</article>
@if(isActiveModal) {
    <dialog class="absolute top-0 left-0 z-40 w-full h-[100vh] flex justify-center items-center bg-slate-900/45">
      <article class="w-[30rem] bg-[linear-gradient(90deg,_#00c4cc,_#6420ff,_#7d2ae7)] rounded-sm">
          <section class="m-1 bg-slate-800 rounded-sm p-4 text-white text-center">
              <h2 class="text-2xl uppercase my-4">Usuario agregado exitosamente</h2>
              <p>Se creo un nuevo usuario en la base de datos</p>
              <button (click)="cerrarModal()" class="py-2 px-4 m-2 rounded-md bg-[linear-gradient(90deg,_#00c4cc,_#6420ff,_#7d2ae7)] hover:opacity-40 transition-all">Cerrar</button>
          </section>
      </article>
    </dialog>
}