<footer>
  <section class="footer-info">
    <article>
      <img src="https://static.wixstatic.com/media/dd06b8_0a84eb51b1e64cbcace64a8d931502ac~mv2.png/v1/crop/x_600,y_2,w_567,h_241/fill/w_200,h_85,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ComingSoon_Granja(web)-02.png" alt="">
      <img src="https://static.wixstatic.com/media/dd06b8_5371ed35cbae4eb883660ead3ff6f0d4~mv2.png/v1/fill/w_379,h_114,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Suscribete%20completo.png" alt="">
    </article>
    <article class="footer-rutas">
      <ul>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Delivery</a></li>
        <li><a href="#">Comprobante Electrónico</a></li>
        <li><a href="#">Política de Privacidad</a></li>
        <li><a href="#">Libro de reclamaciones</a></li>
      </ul>
    </article>
  </section>
  <section class="footer-locate">
    <div class="line"></div>
    <div>Granja Azul S A - RUC: 20112378864</div>
  </section>
</footer>
